@media screen and (max-width: 768px) {
    .dynamicHeader {
        height: 60px;
        padding: 15px;
    }
    .dynamicCTAButton {
        top: 15px;
    }
}

@media screen and (max-width: 500px) {
    .dynamicSlogan.upTop {
        display: none;
    }
}
