.disabled:hover {
    cursor: default !important;
}

.lessonFullSizeEditor {
    margin-left: 50px;
    margin-right: 50px;
}

.backButton, .nextButton {
    border: 1px solid #CCCCCC;
    background-color: white;
    z-index: 3;
}

.leftArrow, .rightArrow {
     color: #CCCCCC !important;
 }

.backButton:hover, .nextButton:hover {
    cursor: pointer;
}

.lessonBackground {
    width: 100%;
    left: 0;
}
.lessonWizardForm {
    width: 100%;
    left: 0;
}

@media screen and (min-width: 1306px /* 1050 + 256px SideNav */) {
    .backButton, .nextButton {
        border: 0;
        background-color: #FFFFFF;
    }
    .leftArrow, .rightArrow {
        color: #CCCCCC !important;
    }
    .lessonBackground {
        width: 1000px;
        margin-left: -500px;
        left: 50%;
    }
    .lessonWizardForm {
        width: 1050px;
        margin-left: -525px;
        left: 50%;
    }
    .lessonWizardFormContent {
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 25px;
    }
}