{
  "presets": ["react", "es2015"],
  "plugins": [
    "transform-object-rest-spread"
    , "transform-async-to-generator"
    , "transform-class-properties"
    , "syntax-dynamic-import"
    , "lodash"
  ],
  "env": {
    "local-webpack": {
      "presets": [
        "react",  [
          "es2015", {
          "modules": false
          }
        ]
      ],
      "plugins": [
        "transform-object-rest-spread"
        , "transform-async-to-generator"
        , "transform-class-properties"
        , "syntax-dynamic-import"
        , "react-hot-loader/babel"
        , "lodash"
      ]
    },
    "test": {
      "presets": ["react", "es2015"],
      "plugins": [
        "transform-object-rest-spread"
        , "transform-async-to-generator"
        , "transform-class-properties"
        , "syntax-dynamic-import"
        , "react-hot-loader/babel"
        , "lodash"
      ]
    }
  }
}
