.CodeMirrorFull {
    position: absolute;
    bottom: 2px; /* so that the bordering doesnt mismatch vs editor output */
    right: 0;
    left: 0;
    top: 0;
}

.lessonFullSizeEditor {
    /* should match the textareaStyle font size for the editor */
    font-size: 15px !important;
}

.CodeMirrorFull > .CodeMirror {
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid #CCC;
}

.CodeMirror-scroll {
    border-radius: 10px 0 0 10px;
}

.CodeMirrorHalf > .CodeMirror {
    height: 300px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #CCC;
}


.rawInput {
    color: #000000 !important;
}

.errorLine {
    background-color: #ffcdcd;
    color: #FFFFFF
}

.bringLabelOut {
    transition: all 0.4s ease;
}