.CodeMirrorFull {
    position: absolute;
    bottom: 2px; /* so that the bordering doesnt mismatch vs editor output */
    right: 0;
    left: 0;
    top: 0;
}

.CodeMirrorFull > .CodeMirror {
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid #CCC;
}

.CodeMirror-scroll {
    border-radius: 10px 0 0 10px;
}

.CodeMirrorHalf > .CodeMirror {
    height: 300px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #CCC;
}


.rawInput {
    color: #000000 !important;
}

.errorLine {
    background-color: rgb(255, 129, 110);
    color: #FFFFFF
}

.bringLabelOut {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}