.loginModalFormContainer,
.providerRegisterModalFormContainer,
.subscribeModalFormContainer {
    width: 90%;
    margin: 0 auto;
    font-family: Arial;
    color: #2E2860;
    position: relative;
    text-align: center;
}

h2.subscribeHeader, h4.subscribeHeader {
    font-family: Arvo;
    text-align: center;
}


