.loginModalFormContainer,
.providerRegisterModalFormContainer {
    font-family: Arial;
    width: 90%;
    margin: 0 auto;
    color: #2E2860;
    position: relative;
    text-align: center;
    text-align: -webkit-center;
}


