.CodeMirrorFull > .CodeMirror {
    height: 598px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #CCC;
}

.CodeMirrorHalf > .CodeMirror {
    height: 300px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #CCC;
}

.rawInput {
    color: #000000 !important;
}