.resultCard {
    padding-left: 25px;
    box-shadow: 2px 2px 5px #CCCCCC;
}
.resultCard.correct { background: #DFF2BF; }
.resultCard.correct > * { color: #4F8A10; }

.resultCard.incorrect { background: #FFBABA; }
.resultCard.incorrect > * { color: #D8000C; }


