.resultCardContainer {
    box-shadow: 2px 2px 5px #CCCCCC;
    text-align: -webkit-center;
}
.resultCardContainer.correct { background: #DFF2BF; }
.resultCardContainer.correct > * { color: #4F8A10; }

.resultCardContainer.incorrect { background: #FFBABA; }
.resultCardContainer.incorrect > * { color: #D8000C; }

.resultCard {
    position: relative;
    width: 600px;
    text-align: -webkit-center;
}

.result {
    padding: 16px 0;
    text-align: -webkit-center;
}

.headline {
    display: inline;
    font-weight: bold;
    font-size: 16pt;
}

.explanationOrHint {
    display: inline;
    font-weight: normal;
    font-size: 14pt;
}