.disabled:hover {
    cursor: default !important;
}

.lessonFullSizeEditor {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    position: relative;
}

.prompt, .instructions {
    font-size: 14pt;
}

.toolbarButton {
    right: 70px;
}

.toolbarLabel {
  right: 125px;
}

.lessonHalfSizeEditorRight {
    margin-right: 50px;
}

.backButton, .nextButton {
    border: 1px solid #CCCCCC;
    background-color: white;
    z-index: 3;
}

.backButton:hover, .nextButton:hover {
    cursor: pointer;
}

.lessonLargeBackground {
    width: 100%;
    left: 0;
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.lessonSmallBackground {
    background-color: white;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: -1;
}

.lessonWizardForm {
    width: 100%;
    left: 0;
}

.halfHalfLeftSide {
    padding-left: 50px;
}


@media screen and (min-width: 1306px /* 1050 + 256px SideNav */) {
    .backButton, .nextButton {
        border: 0;
        background-color: #FFFFFF;
    }

    .lessonLargeBackground {
        width: 1000px;
        margin-left: -500px;
        left: 50%;
    }

    .lessonFullSizeEditor, .lessonHalfSizeEditorRight {
        margin-left: 0;
        margin-right: 0;
    }

    .toolbarButton {
        right: 20px;
    }

    .toolbarLabel {
        right: 75px;
    }

    .halfHalfLeftSide {
        padding-left: 75px;
    }

    .lessonWizardForm {
        width: 1050px;
        margin-left: -525px;
        left: 50%;
    }
    .lessonWizardFormContent {
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 25px;
    }
}