.actionBar {
    position: fixed;
    height: 60px;
    width: 100vw;
    bottom: 0;
    opacity: 0.95;
    z-index: 1002; /* should be in front of the resultCard*/
}

.actionBar:hover, .actionBar:focus, .actionBar:active {
    opacity: 1.0;
}

.prevButton, .nextButton, .runCodeButton:hover, .checkAnswerButton {  opacity: 1.0;  }
.prevButton:hover, .nextButton:hover, .runCodeButton:hover, .checkAnswerButton:hover {  opacity: 0.9;  }
.prevButton.disabled:hover, .nextButton.disabled:hover, .runCodeButton.disabled:hover, .checkAnswerButton.disabled:hover {  opacity: 1.0;  }

.nextButton.disabled, .prevButton.disabled {
    /* !important needed to override react inline styles*/
    background-color: #EEEEEE !important;
    color: #CCCCCC !important;
}

.runCodeButton {
    background-color: #FFF;
    color: #AED15D;
}

.checkAnswerButton {
    background-color: #AED15D;
    color: #FFFFFF;
}

.checkAnswerButton.disabled, .runCodeButton.disabled {
    background-color: #b4b4b4;
    color: #DDDDDD;
}

.lessonFullSizeEditor {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    position: relative;
}

.prompt, .instructions {
    font-size: 14pt;
}

.toolbarButton {
    right: 70px;
}

.toolbarLabel {
  right: 125px;
}

.lessonHalfSizeEditorRight {
    margin-right: 50px;
}

.backButton, .nextButton {
    border: 1px solid #CCCCCC;
    background-color: white;
    z-index: 3;
}

.backButton:hover, .nextButton:hover {
    cursor: pointer;
}

.lessonLargeBackground {
    width: 100%;
    left: 0;
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 501;
}

.lessonSmallBackground {
    background-color: white;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 501;
}

.lessonWizardForm {
    width: 100%;
    left: 0;
}

.lessonWizardFormContent {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (min-width: 1306px /* 1050 + 256px SideNav */) {
    .backButton, .nextButton {
        border: 0;
        background-color: #FFFFFF;
    }

    .lessonLargeBackground {
        width: 1000px;
        margin-left: -500px;
        left: 50%;
    }

    .lessonFullSizeEditor, .lessonHalfSizeEditorRight {
        margin-left: 0;
        margin-right: 0;
    }

    .toolbarButton {
        right: 20px;
    }

    .toolbarLabel {
        right: 75px;
    }

    .lessonWizardForm {
        width: 1050px;
        margin-left: -525px;
        left: 50%;
    }
}
