.disabled:hover {
    cursor: default !important;
}

.welcomeBackButton, .welcomeNextButton {
    background-color: transparent;
    border: 0px;
}

.welcomeBackButton:hover, .welcomeNextButton:hover {
    background-color: #654E93;
    cursor: pointer;
}