.subscription-table > tbody > tr > td,
.subscription-table > thead > tr > th {
    font-size: 11pt;
    border: none;
}

.subscription-head {

}


.subscription-head > tr > th {
    font-weight: bold;
    font-size: 12pt;
}

.subscription-row {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.subscription-row:first-child { border-top: 0; }
.subscription-row:last-child { border-bottom: 0; }

.subscription-username {
    padding-left: 0;
    width: 60%;
}

.expiresAt {
    margin-left: 15px;
    color: darkred;
}


.addStudent {
    float: right;
    margin-top: 10px !important
}


.copyLoginLinkContainer {
    text-align: center;
}

.copyLoginLinkBox {
    border: 1px solid #CCC;
    margin: 10px auto 0 auto;
    padding: 10px;
    width: 270px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12pt;
    background-color: #F1F1F1;
}

.copyLoginLinkButton {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
}
