.subscription-table > tbody > tr > td,
.subscription-table > thead > tr > th {
    font-size: 11pt;
    border: none;
}

.subscription-head {

}


.subscription-head > tr > th {
    font-weight: bold;
    font-size: 12pt;
}

.subscription-row {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.subscription-row:first-child { border-top: 0; }
.subscription-row:last-child { border-bottom: 0; }

.subscription-username {
    width: 30%;
    padding: 0 !important;
}

.subscription-expireDate {
     width: 35%;
     padding: 0 !important;
 }

.subscription-toggleSubscription {
    padding: 0 !important;
}

.expiresAt {
    margin-left: 15px;
    color: darkred;
}


.addStudent {
    float: right;
    margin-top: 10px !important
}

.editUserButton {
    width: 30px !important;
    height: 30px !important;;
    margin-left: 10px !important;;
}
