.subscription-head {

}


.subscription-head > tr > th {
    font-weight: bold;
    font-size: 12pt;
}


.subscription-row:hover  > * {
    color: #0074D9;
    background: #f8f8f8;
    text-decoration: underline;
}

.addStudent {
    float: right;
    margin-top: 10px !important
}
