.homeLogo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}

.homeDragon {
    width: calc(10px + 16vw);
    position: absolute;
    top: 5%;
    left: 60%;
}

.homeBackgroundLayer1 {
    position: absolute;
    bottom: 0;
    z-index: 4;
}


.homeBackgroundLayer2 {
    position: absolute;
    /*bottom: calc(20vh + 25px);*/
    top: 60vh;
    z-index: 3
}

.homeBackgroundLayer3 {
    position: absolute;
    /*bottom: calc(20vh + 30px);*/
    top: 40vh;
    z-index: 2
}

.homeBackgroundLayer4 {
    position: absolute;
    bottom: calc(20vh + 40px);
    top: 20vh;
    z-index: 1
}

.sellingPointContainer {
    display: inline-block;
    width: 33.333%;
}

.bulletPoints {
    display: none;
}

.submit {
    border: 10px solid transparent;
    padding: 10px 40px;
    border-image: url(/../../assets/images/landing-button_border-white.svg) 30 round;
    background-color: #FFFFFF;
    background-clip: padding-box;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .sellingPointContainer {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bulletPoints {
        display: block;
    }
}