.homeLogo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.homeDragon {
    width: calc(15px + 13vw);
    position: absolute;
    top: 80px;
    left: 50%;
}

.homeBackgroundLayer1 {
    position: absolute;
    bottom: calc(-15.0vw + 100px);
    z-index: 4
}


.homeBackgroundLayer2 {
    position: absolute;
    bottom: calc(-15.0vw + 100px);
    z-index: 3
}

.homeBackgroundLayer3 {
    position: absolute;
    bottom: calc(-15.0vw + 100px);
    z-index: 2
}

.homeBackgroundLayer4 {
    position: absolute;
    bottom: calc(-15.0vw + 100px);
    z-index: 1
}