

.dynamicSlogan {
    position: fixed;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2px;
    transition: height 100s;
    z-index: 51;
}


@media screen and (max-width: 768px) {
    .dynamicHeader {
        height: 60px;
        padding: 15px;
    }
    .dynamicCTAButton {
        top: 15px;
    }
}
