.providerRegisterForm-slide {
    text-align: center;
    text-align: -webkit-center;

}


.providerRegisterForm-addAnotherStudent {
    margin-top: 20px;
    display: inline-block;
}


.providerRegisterForm-addedStudent {
    margin-top: 5px;
}

.providerRegisterForm-ProgressBarDeterminate {
    background-color: #765C9F !important;
}

.providerRegisterForm-ProgressBar {
    width: 50%;
    margin: 0 auto;
}

.providerRegisterForm-ProgressBar > * {
    border-radius: 3px;
}
