.slideInOut-enter {
    animation-name: slideInRight;
    animation-duration: 400ms;
}

.slideInOut-enter.slideInOut-enter-active {
    animation-name: slideInRight;
    animation-duration: 400ms;
}

.slideInOut-exit {
    animation-name: slideOutLeft;
    animation-duration: 400ms;
}

.slideInOut-exit.slideInOut-exit-active {
    animation-name: slideOutLeft;
    animation-duration: 400ms;
}






.slideUp-enter {
    animation-name: slideInUp;
    animation-duration: 400ms;
}

.slideUp-enter.slideUp-enter-active {
    animation-name: slideInUp;
    animation-duration: 400ms;
}

.slideUp-exit {
    animation-name: slideOutDown;
    animation-duration: 400ms;
}

.slideUp-exit.slideUp-exit-active {
    animation-name: slideOutDown;
    animation-duration: 400ms;
}


.rubberBandRepeat {
    animation-name: rubberBand;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}