.greenButton {
    cursor: pointer;
    border: 10px solid;
    margin: 29px;
    background: transparent;
    border-image-source: url(/assets/images/border-green-hollow.svg);
    border-image-slice: 103;
    border-image-width: 7px;
    border-image-outset: 2px;
    border-image-repeat: repeat;
    font-size: 16pt;
    font-weight: bold;
    color: white;
}

.ReactModalPortal {
    position: relative;
    z-index: 10000;
}


/* prevent blue outline */
*:focus {
    outline: none;
}

a {
    color: #0074D9;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

body {
    background: #f0f8fb;
    font-family: Arial;
}

.CodeMirror {
    cursor: text;
}

.Select-menu-outer {
    z-index: 1000000;
}