.KiwiTextField-Container {

}

.KiwiTextField-FormControl {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.KiwiTextField-Input {
    width: 100%;
}


.KiwiTextField-Label {
    color: #AAA !important;
    padding: 7px 0 0 10px !important;
}
.KiwiTextField-Label-Shrink {
    font-size: 14pt !important;
    line-height: 0.5 !important;
    padding: 0 !important;
}
.KiwiTextField-Icon {
    margin-left: 3px;
    color: #AAA !important;
}
.KiwiTextField-FormControl { border: 1px solid #AAA !important; }
.submitButton {
    border: 1px solid #AAA !important;
    margin: 20px auto !important;
    text-transform: none !important;
}


.submitButton.enabled,
.KiwiTextField-FormControl.focused {
    border: 1px solid #765C9F !important;
    color: #765C9F;
}
.KiwiTextField-FormHelperText,
.KiwiTextField-Label.focused,
.KiwiTextField-Icon.focused {
    color: #765C9F !important;
}

.KiwiTextField-FormControl.error {
    border: 1px solid #cc5040 !important;
    color: #cc5040;
}
.KiwiTextField-FormHelperText.error,
.KiwiTextField-Label.error,
.KiwiTextField-Icon.error,
.ResultMessage-error {
    color: #cc5040 !important;
}

.ResultMessage-success {
    color: #66cc52;
}

.ResultMessage {
    font-size: 11pt;
    font-weight: bold;
}
