.submitButton {
    border: 1px solid #AAA !important;
    margin: 20px auto !important;
    text-transform: none !important;
}

.ResultMessage-error {
    color: #CC5040 !important;
}

.ResultMessage-success {
    color: #66cc52 !important;
}

.ResultMessage {
    font-size: 11pt;
    font-weight: bold;
}

/*****
    KiwiSelectField
 */

.KiwiSelectField-Container.error > .Select-control {
    border: 1px solid #CC5040;
}

.KiwiField-Label {
    display: block;
    text-align: left;
    font-size: calc(14pt * 0.75) !important; /* Matches transform on shrink */
    color: #AAA !important;
    margin-bottom: 5px;
}

.KiwiSelectField-Container {
    margin-bottom: 20px;
}

.KiwiField-Label.focused {
    color: #765C9F !important;
}
.KiwiField-Label.error {
    color: #CC5040 !important;
}

.Select.is-focused > .Select-control {
    border: 1px solid #765C9F !important;
    color: #765C9F !important;
}

.KiwiSelectField-Container.error > .Select > .Select-control {
    border: 1px solid #CC5040 !important;
    color: #CC5040 !important;
}
