.stripedContainer {
    color: #666666;
}

.stripedSectionContainer {
    padding: 30px;
    box-sizing: border-box;
    min-height: 250px;
}

.stripedSection {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.stripedSectionText {
    display: inline-block;
    max-width: 600px;
}

.stripedSectionText > p {
    font-family: sans-serif;
    line-height: 28px;
    color: #999999;
}

.stripedSectionImage {
    display: inline-block;
    width: 300px;
    position: absolute;
}

.stripedSectionImage.right { right: 0; }
.stripedSectionImage.left  { left: 0; }

.stripedSectionImage {}

.stripedSectionContainer:nth-child(even) { background-color: #FFFFFF; text-align: right; }
.stripedSectionContainer:nth-child(odd)  { background-color: #F1F1F1; text-align: left; }

.stripedHeader { font-size: 24px; display: inline-block; }

@media screen and (max-width: 980px) {
    .stripedSectionContainer {
        text-align: left !important;
    }
    .stripedSectionText {
        display: block;
        max-width: 100%;
    }
    .stripedSectionImage {
        display: inline-block;
        width: 300px;
        position: relative;
        left: 50% !important;
        margin-left: -150px;
    }
}
