.providerDashboard-container {
    width: 100%;
    max-width: 896px;
    min-width: 768px;
    margin: 0 auto;
    padding-top: 20px;
    min-height: 100vh;
}


div[role='menu'] {
    padding: 0 !important
}

.providerDashboard-sectionHeader {
    margin: 0;
}


.providerDashboard-componentHeader {
    border-width: 0 0 1px 0;
    border-color: #EEEEEE;
    border-style: solid;
}

.providerDashboard-body {
    display: flex;
}

.providerDashboard-right {
    background-color: #FFFFFF;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    flex-grow: 1;
}
