.letsGoContainer {
    background-color: #68bdd0;
    padding: 50px;
    box-sizing: border-box;
}

.letsGo {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.letsGoBottomButton {
    background-color: white;
    color: #654E93;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 13pt;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
