.letsGo {
    font-family: Arvo;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    text-align: -webkit-center;
}

.letsGoBottomButton {
    font-family: Arvo;
    background: transparent;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 13pt;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
