.letsGoContainer {
    background-color: #624F8F;
    padding: 50px;
    box-sizing: border-box;
}

.letsGo {
    max-width: 650px;
    margin: 0 auto;
    text-align: -webkit-center;
}

.letsGoBottomButton {
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 13pt;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
