.x {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    transition: transform .25s ease-in-out;
}
.x:hover {
    transform: rotate(180deg);
}
.x:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid rgba(256,256,256,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.x:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid rgba(256,256,256,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}