/**
 * SMALL X
 */

.x-sm {
    width: 22px;  height: 22px;  cursor: pointer;  display: block;  position: fixed;  right: 0;  top: 0;  transition: transform .25s ease-in-out;
}
.x-sm:hover {
    -webkit-transform: rotate(180deg);  -ms-transform: rotate(180deg);  transform: rotate(180deg);
}
.x-sm:before {
    width: 22px;  content: "";  position: absolute;  display: block;  margin: auto;  left: 0;  right: 0;  top: 0;  bottom: 0;  height: 0;  border-top: 2px solid rgba(256,256,256,0.5);  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg);  transform-origin: center;
}
.x-sm:after {
    width: 22px;  content: "";  position: absolute;  display: block;  margin: auto;  left: 0;  right: 0;  top: 0;  bottom: 0;  height: 0;  border-top: 2px solid rgba(256,256,256,0.5);  -webkit-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  transform: rotate(-45deg);  transform-origin: center;
}


/**
 * MEDIUM X
 */

.x {
    width: 32px;  height: 32px;  cursor: pointer;  display: block;  position: fixed;  right: 0;  top: 0;  transition: transform .25s ease-in-out;
}
.x:hover {
    -webkit-transform: rotate(180deg);  -ms-transform: rotate(180deg);  transform: rotate(180deg);
}
.x:before {
    width: 32px;  content: "";  position: absolute;  display: block;  margin: auto;  left: 0;  right: 0;  top: 0;  bottom: 0;  height: 0;  border-top: 2px solid rgba(256,256,256,0.5);  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg);  transform-origin: center;
}
.x:after {
    width: 32px;  content: "";  position: absolute;  display: block;  margin: auto;  left: 0;  right: 0;  top: 0;  bottom: 0;  height: 0;  border-top: 2px solid rgba(256,256,256,0.5);  -webkit-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  transform: rotate(-45deg);  transform-origin: center;
}