.subscribeModal {
    position: relative;
    margin: auto;
    top: 50%;
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    margin-top: -200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
}


.ModalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}
