.exampleButton {
    position: absolute;
    right: 45px;
    top: 20px;
    width: 65px;
    height: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid #BDBDBD;
    border-radius: 20px;
    padding: 10px 15px;
    color: #BDBDBD;
    background: #FFFFFF;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.exampleButton:hover {
    cursor: pointer;
    width: calc(100% - 120px);
    height: 200px;
}