.subscription-table > tbody > tr > td,
.subscription-table > thead > tr > th {
    font-size: 11pt;
    border: none;
}

.subscription-head {

}


.subscription-head > tr > th {
    font-weight: bold;
    font-size: 12pt;
}

.subscription-row {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.subscription-row:nth-child(even) { background-color: #f5f5f5; }

.subscription-username {
    width: 30%;
    padding: 0 !important;
}

.subscription-temporaryPassword {
    display: block;
    font-style: italic;
    font-size: 80%;
}

.subscription-periodEnd {
     width: 35%;
     padding: 0 !important;
 }

.subscription-toggleSubscription {
    padding: 0 !important;
}
.subscription-toggleSubscription.disabled > a {
    cursor: default;
    opacity: 0.5;
}

.subscription-updateResult {
    margin: 20px 0;
}

.cancelAtPeriodEnd {
    color: darkred;
}


.addStudent {
    float: right;
    margin-top: 10px !important
}

.editUserButton {
    width: 30px !important;
    height: 30px !important;;
    margin-left: 10px !important;;
}
